body{
  font-family: Poppins;
}

header{
  border-bottom: 1px solid #E9E9E9;
}

.navbar-nav{
  text-align: right;
  margin-left: auto;
}
main{
  position: relative;
  margin-bottom: 100px;
}

.hero .banner{
  background: url('../img/web development.svg') center center no-repeat;
  background-size: contain;
  min-height: 800px;
}

@media (max-height:780px) {
  .hero{
    margin-top: 30px;
    text-align: center;
    min-height: 100vh;
  }
  .hero .banner{
    min-height: 400px;
  }
}
.hero h1 span{
  color: #5222D0;
}

main section h2{
  font-size: 36px;
  font-weight: bold;
}

main section article {
  margin-top: 100px;
  margin-bottom: 100px;
}


main section article p{
  font-size: 18px;
  line-height: 2.5;
}

main section article form textarea{
  resize: none;
}
main section article form .form-control{
  border: 2px solid black;
}
main section article form .btn{
  box-shadow: 8px 8px 2px #5222D0;
}

#skills .skill{
  margin: 40px;
}
#skills .skill img{
  min-width: 20px;
  max-width: 40%;
}
#skills .skill h3{
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

#project .img-fluid{
  border: 2px solid black;
  box-shadow: -18px 18px  #1559A0;
  cursor: pointer;
  margin-bottom: 50px;
}
#project .order-1 .img-fluid{
  border: 2px solid black;
  box-shadow: 18px 18px  #11999E;

}

#project .img-fluid:hover{
  border: 2px solid black;
  box-shadow: none;
  transition: ease-in 0.2s;
  opacity: 0.7;
}
