body{
  font-family: Poppins;
}

header{
  border-bottom: 1px solid #E9E9E9;
}

.navbar-nav{
  text-align: right;
  margin-left: auto;
}
main{
  position: relative;
}

.hero .banner{
  background: url('../img/web development.svg') center center no-repeat;
  background-size: contain;
  min-height: 800px;
}

@media (max-height:780px) {
  .hero{
    margin-top: 30px;
    text-align: center;
    min-height: 100vh;
  }
  .hero .banner{
    min-height: 400px;
  }
}
.hero h1 span{
  color: #5222D0;
}

main section h2{
  font-size: 36px;
  font-weight: bold;
}

main section article {
  margin-top: 100px;
  margin-bottom: 100px;
}


main section article p{
  font-size: 18px;
  line-height: 2.5;
}

